body {
    color: black; /*placeholder*/
    font-family: Arial, sans-serif;
}

/* First Section (Blue) */

.header,
.first {
    margin: 0;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px 150px;
}

.header-links,
.sub-context {
    font-size: 18px;
    color: #E5E7Eb;
}

.first {
    padding: 50px 150px;
}

.left {
    width: 400px;
}

.title,
.sub-context {
    padding-bottom: 16px;
}

.title{
    font-size: 48px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 50px;
}

.home-img img {
    height: 300px;
    width: 400px;
}

.button-1 {
    color: #F9FAF8;
    width: 150px;
    height: 40px;
    background-color: #3882F6;
    border-radius: 10px;
    font-size: 20px;
}

/* Second Section (White) */

.second {
    padding: 50px;
}

.info_title {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    padding-bottom: 40px;
}

.information_blocks img {
    height: 200px;
    width: 200px;
}

.information_blocks {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.block {
    max-width: 200px;
    text-align: center;
}

.block img {
    border-radius: 25px;
    border: solid 5px #3882F6;
}

/* Third Section (Grey) */

.third {
    background-color: #E5E7Eb;
    font-size: 36px;
    color: #1F2937;
    padding: 100px 300px;
}

.author {
    text-align: right;
}

/* Fourth Section (Grey) */